import * as Styled from './styles'

export type {{pascalCase ComponentName}}Props = {
  label: string
}

export const {{pascalCase ComponentName}}: React.FC<{{pascalCase ComponentName}}Props> = ({ label }: {{pascalCase ComponentName}}Props) => {
  return (
    <div>
      {label}
    </div>
  )
}
